{
  "per-file": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80,
  "reporter": ["text-summary", "lcov"],
  "extension": [".ts"],
  "exclude": ["**/*.d.ts", "**/test/**/*.ts"]
}
