<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Theta ϴ - The Realtime Framework
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap")
  body
    #app
    script(src="./index.ts")
