*
  box-sizing border-box

html
  height 100%
  font-size 10px

body
  display flex
  flex-direction column
  min-height 100%
  margin 0
  font-size 1.6rem
  font-family 'Montserrat', sans-serif

h1, h2, h3, h4, h5, h6
  font-weight 500
  margin 2rem 0 1rem 0
  line-height 1.6
  transition-property color
  transition-duration 400ms
  transition-timing-function cubic-bezier(0.420, 0.000, 0.580, 1.000)

  &.flash
    color #b3f

h1
  margin 4rem 0 3rem 0

h2
  margin 3rem 0 2rem 0

p
  margin 0
  line-height 1.6

em
  font-family 'Amiri', serif
  font-style italic

ul
  padding 0
  margin 0.4rem 0

li
  list-style-type none

a
  text-decoration none
  color #333
  transition-property color
  transition-duration 200ms
  transition-timing-function linear

  &:hover
    color #b3f

  &.router-link-exact-active
    color #b3f
